<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>P치gina no encontrada</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h2>Error 404 - Esa P치gina no existe</h2>
    <nav>
      <a href="/pacientes">Listado de pacientes</a>                   
      <a href="/pacientes/create">Crear nuevo paciente</a>
      <a href="/pacientes/search">Buscar / Borrar Paciente</a> 
      <a href="/pacientes/logout">Cerrar sesi칩n</a> 
    </nav>
  </header>

  <main>
    <section class="card">
    <img src="/img/404.png" alt="P치gina no encontrada" style="max-width: 100%; height: auto; border-radius: 8px; margin-bottom: 20px;">
     <h3>Oops 游땟</h3>           
    </section>
  </main>

  <footer>
    <p>춸 <%= new Date().getFullYear() %> Cl칤nica Salud+</p>
  </footer>
</body>
</html>